html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    background-color: #004d9d;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    height: 12.5rem;
    background-color: yellow;
}